

<div class="row" style="margin-left: 10px;">
  <label for="busno" class="col-md-12">Bus No.</label>
  <div class="form-group busId col-md-6">
    <input type="text" class="form-control" name="busno" id="busno"  placeholder="Bus No. " [(ngModel)]="data.busno">
  </div>
</div>


<div class="row" style="margin-left: 10px;">
  <label for="" class="col-md-12">Route</label>
  <div class="form-group city col-md-6">
    <select name="" id="" class="form-control"  placeholder=" City " [(ngModel)]="data.route">
      <option value="">--</option>
      <ng-container *ngFor="let route of routes">
        <option [value]="route._id">{{route.city.name}} - {{route.stage.name}}</option>
      </ng-container>
    </select>
  </div>
</div>




<div class="col-md-6 btn " style="margin-left: 10px;">  
  <button mat-raised-button color="primary" (click)="submit()"> Add bus </button>

</div>




