

<div class="row main" style="margin-left: 10px;">
  <label for="" class="col-md-12"> Username </label>
    <div class="form-group stage col-md-8">
        <select name="" id="" class="form-control"  placeholder=" Bus Id. ">
          <option value="">
            123
          </option>
          <option value="">
            456
          </option>
        </select>
        <div class="btn col-md-12" >
        <button mat-raised-button color="primary" > Remove user </button>
      </div>
</div>
