
 <!-- <div class="header_add col-12" style="background-color: darkgray;line-height: 50px;">
    Add Student
  </div>-->
   <div class="edit row">
      <div class="col-md-6"></div>
      <div class="col-md-6">

          <button mat-mini-fab color='primary' routerLink="add_student" class="col-md-1 col-1" style="border:none;"><i class="fas fa-pen"></i></button>

      </div>
   </div>
  <div class="form row">
      <div class="col-md-12 add_student_form">
          <mat-form-field class="col-md-2" >
              <input matInput placeholder="Regd. No." required value="16471A05A4" disabled >
            </mat-form-field>
        
        <mat-form-field class="col-md-2">
        <input matInput placeholder="First Name" required  value="Badri Nadh" disabled>
      </mat-form-field>
      
      <mat-form-field class="col-md-2">
        <input matInput placeholder="Last Name" required value="Aila" disabled>
      </mat-form-field>
  
      <mat-form-field class="col-md-2">
          <mat-select placeholder="Course" required>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="col-md-2">
            <mat-select placeholder="Branch" required>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="col-md-2">
              <mat-select placeholder="Year" required>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
  
            <mat-form-field class="col-md-2">
                <input matInput placeholder="Mobile Number" >
              </mat-form-field>
  
              <mat-form-field class="col-md-2">
                  <input matInput placeholder="Email" >
                </mat-form-field>  
  
                <mat-form-field class="col-md-2">
                    <mat-select placeholder="City" required>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
  
                  <mat-form-field class="col-md-2">
                      <mat-select placeholder="Stage" required>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    
                    <mat-form-field class="col-md-2">
                      <input matInput placeholder="Bus No." required>
                    </mat-form-field> 
  
  
                    <mat-form-field class="col-md-2">
                      <input matInput placeholder="Seat No." required >
                    </mat-form-field> 
  
                    <mat-form-field class="col-md-2">
                      <input matInput placeholder="Receipt No." required >
                    </mat-form-field> 
  
                    <mat-form-field class="col-md-2">
                      <input matInput placeholder="Amount" value="10000" disabled>
                    </mat-form-field> 
  
                    <button mat-flat-button color="primary" class="col-md-3" style="margin-left:200px">Add Student</button>
    </div>
    <div class="col-md-6"></div>
  
    </div>
  
  