<div id="main">
<mat-card style="background-color: #f2f2f2">
    <div class="row row1">

    <div class="parent col-md-2 col-9">
        <div class="child1 ">
            <img src="assets/images/dashboard_cities/guntur_dashboard.png" style="height: 100%;width: 100%;" alt="">
        </div>
    </div>
    <div class="parent col-md-2 col-9">
        <div class="child1 ">
            <p style="color:white">hello</p>
                    
         </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    </div>
    <br>
    <div class="row row1">
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>
    <div class="parent col-md-2 col-9">
            <div class="child1 ">
                    <p style="color:white">hello</p>
                            
                 </div>
    </div>


      
</div> 
</mat-card>
</div>  
