<div id="main">
<!--<mat-card style="background-color: #f2f2f2">
    <div class="row row1">

    <div class="analysis col-md-2 even" >
        <div class="child">

        </div>

    </div>
    <div class="analysis col-md-2 odd" >
            <div class="child">

                </div>
    </div>
    <div class="analysis col-md-2 odd" >
            <div class="child">

                </div>
        </div>
        <div class="analysis col-md-2 odd" >
                <div class="child">

                    </div>
            </div>
            <div class="analysis col-md-2 odd" >
                    <div class="child">

                        </div>
                </div>



      
</div> 
</mat-card>-->
</div>  
