
<div class="main">
        <mat-card>
            <div class="row mgStd">
                <div class="col-md-6" style="margin: auto"><p style="margin: auto;">Manage Students</p></div> 
                 <div class="mgStdActions col-md-6 row">
                     <button mat-mini-fab color='primary' routerLink="add_student" class="col-md-1 col-1" style="border:none;"><i class="fas fa-plus"></i></button>
                     <input type="text" style=" margin-left: 25px;" class="form-control col-md-4 col-6"
                     ngModel #search='ngModel' required pattern="[0-9A-Z]{10}">
                    
                     <button mat-raised-button color="primary" [disabled]="search.invalid" routerLink="search_student" [queryParams]={search:search.value} class="col-md-2 col-2"style="margin-left:20px"> Search </button>
                     <!--<button mat-mini-fab color='primary' class="col-1" style="border:none; margin-left: 20PX;"><i class="fas fa-pen"></i></button>
                     -->
                    </div>   
            </div>

            <router-outlet class="col-12"></router-outlet>
        </mat-card>
        
</div>

