


<div class="row" style="margin-left: 10px;">
  
    <label for="" class="col-md-12">Route Id.</label>
<div class="form-group busId col-md-6">
  <input type="text" class="form-control"  placeholder="Route Id ">
</div>
</div>


<div class="row" style="margin-left: 10px;">
<label for="" class="col-md-12">City</label>
<div class="form-group city col-md-6">
<select name="" id="" class="form-control"  placeholder=" City ">
  
  <option value="">
    123
  </option>
  <option value="">
    456
  </option>
</select>
</div>
</div>


<div class="row" style="margin-left: 10px;">
<label for="" class="col-md-12">Stage</label>
<div class="form-group stage col-md-6">
  <select name="" id="" class="form-control"  placeholder=" Stage ">
    <option value="">
      123
    </option>
    <option value="">
      456
    </option>
  </select>
  </div>
</div>



  <div class="col-md-6 btn " style="margin-left: 10px;">  
    <button mat-raised-button color="primary"> Add route </button>

  </div>




