<div class="container float-right col-md-5 col-12 outer" @dropin>
<mat-card class="inner">
      <div class="container" [ngClass]="{'run-animation':infoType === 'reg'}">
        <h5 *ngIf="infoType=='reg'">
            Please enter your registered identification number.
        </h5> 
      <form #loginForm="ngForm" autocomplete="off">
            <div class="example-container">
                    <br><br>
                    <mat-form-field class="col-12">
                      <input matInput ngModel placeholder="Enter Reg. No" name="regno" required minlength="10" ngModel #search="ngModel" required>
                        
                    </mat-form-field><br><br>
                    
                    <button type="submit" routerLink="studentSearchDetails"  class="example-full-width container" mat-raised-button [disabled]="search.invalid" color="primary"  [queryParams]={search:search.value} >Search</button>
                    </div>
               </form>
           </div>
</mat-card>
</div>

