

<div class="row main" style="margin-left: 10px;">
  <label for="" class="col-md-12"> Bus Id. </label>
    <div class="form-group stage col-md-8">
        <select name="" id="" class="form-control"  placeholder=" Bus Id. " [(ngModel)]="data">
          <option value="">
              --
          </option>
          <ng-container *ngFor="let bus of buses">
              <option [value]="bus._id">{{bus.busno}}</option>
            </ng-container>
          
        </select>
        <div class="btn col-md-12" >
        <button mat-raised-button color="primary" (click)="submit()"> Remove Bus </button>
      </div>
</div>
