
 <!-- <div class="header_add col-12" style="background-color: darkgray;line-height: 50px;">
    Add Student
  </div>-->
  <div class="form row">
    <div class="col-md-6"></div>
      <div class="col-md-6 add_student_form row">
        <div class="col-md-12">
         <mat-form-field class="col-md-12" >
            <input matInput placeholder="Regd. No." required pattern="[0-9A-Z]{10}" ngModel #regNo='ngModel' [(ngModel)]="data.regNo" >
          </mat-form-field>
        <div class="col-md-12 error">
          <small *ngIf="regNo.touched && regNo.invalid" class="text-danger" >
            <small *ngIf="regNo.errors.required">this field is required</small>
            <small *ngIf="regNo.errors.pattern">invalid regno</small>
          </small>
        </div>
        </div>
      
      <div class="col-6 ">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="First Name" required ngModel #firstName="ngModel" [(ngModel)]="data.firstName">
        </mat-form-field>
      <div class="col-md-12 error">
        <small *ngIf="firstName.touched && firstName.invalid" class="text-danger">
          <small *ngIf="firstName.errors.required"> First Name is required </small>
        </small>
      </div>
       </div>
      
      <div class="col-6">
        <mat-form-field class="col-md-12">
           <input matInput placeholder="Last Name" required ngModel #lastName="ngModel" [(ngModel)]="data.lastName">
        </mat-form-field>
      <div class="error col-md-12">
         <small *ngIf="lastName.touched && lastName.invalid" class="text-danger">
          <small *ngIf="lastName.errors.required"> Last Name is required </small>
        </small>
      </div>
      </div>
  
    <div class="col-md-4">
    <mat-form-field class="col-md-12">
        <mat-select placeholder="Course" required ngModel #course="ngModel" [(ngModel)]="data.course">
          <mat-option *ngFor="let course of courses" [value]="course.name" (click)="selectedCourse=course">
            {{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class=" col-md-12 error">
      <small *ngIf="course.touched && course.invalid" class="text-danger"> 
            <small *ngIf="course.errors.required"> Course is required </small>
      </small>
    </div>
    </div>

      <div class="col-md-4">
      <mat-form-field class="col-md-12 ">
          <mat-select placeholder="Branch" required ngModel #branch="ngModel" [(ngModel)]="data.branch">
            <mat-option *ngFor="let branch of selectedCourse.branches" [value]="branch">
              {{branch}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error col-md-12">
        <small *ngIf="branch.touched && branch.invalid" class="text-danger">
          <small *ngIf="branch.errors.required"> Branch is required</small>
        </small>
      </div>
      </div>

        <div class="col-md-4">
        <mat-form-field class="col-md-12">
            <mat-select placeholder="Year" required ngModel #year="ngModel" [(ngModel)]="data.year">
              <mat-option *ngFor="let year of selectedCourse.years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error col-md-12">
          <small class="text-danger" *ngIf="year.touched && year.invalid">
            <small *ngIf="year.errors.required"> Year is required</small>
          </small>
        </div>
        </div>

          <div class="col-md-6">
          <mat-form-field class="col-md-12">
              <input matInput placeholder="Mobile Number (optional)" pattern="[0-9]{10}"  ngModel #mobileNumber="ngModel" [(ngModel)]="data.mobile" >
            </mat-form-field>
            <div class="col-md-12 error">
            <small *ngIf="mobileNumber.touched && mobileNumber.invalid" class="text-danger">
              <small *ngIf="mobileNumber.errors.pattern">invalid Mobile Number</small>
            </small>
          </div>
          </div>

            <div class="col-md-6">
            <mat-form-field class="col-md-12" >
                <input matInput placeholder="Email (optional)" [(ngModel)]="data.email" >
              </mat-form-field>
            </div>

              <div class="col-md-6">
              <mat-form-field class="col-md-12">
                  <mat-select placeholder="City" required [(ngModel)]="selectedRoute.city" ngModel #city="ngModel">
                    <mat-option *ngFor="let city of cities" [value]="city._id" (click)="getStages(city._id)">
                      {{city.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="col-md-12 error">
                <small class="text-danger" *ngIf="city.touched && city.invalid">
                  <small *ngIf="city.errors.required"> City is required </small>
                </small>
              </div>
              </div>

              <div class="col-md-6">
                <mat-form-field class="col-md-12">
                    <mat-select placeholder="Stage" required [(ngModel)]="selectedRoute.stage" ngModel #stage="ngModel">
                      <mat-option *ngFor="let stage of stages" [value]="stage._id" (click)="getBusesByRoute()">
                        {{stage.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="col-md-12 error">
                  <small class="text-danger" *ngIf="stage.touched && stage.invalid">
                    <small *ngIf="stage.errors.required"> Stage is required  </small>
                  </small>
                </div>
                </div>


                  <div class="col-md-6">
                  <mat-form-field class="col-md-12">
                    <mat-select placeholder="Bus no." required ngModel #busNo="ngModel" [(ngModel)]="data.busNo">
                      <mat-option *ngFor="let bus of buses" [value]="bus._id">
                        {{bus.busno}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> 
                  <div class="col-md-12 error">
                  <small class="text-danger " *ngIf="busNo.touched && busNo.invalid">
                    <small *ngIf="busNo.errors.required"> Bus No. is required </small>
                  </small>  
                </div>
                </div>

                  <div class="col-md-6">
                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Seat No." pattern="[0-9]{2}" ngModel #seatNo="ngModel" [(ngModel)]="data.seatNo">
                  </mat-form-field> 
                  <div class="col-md-12 error">
                  <small class="text-danger " *ngIf="seatNo.touched && seatNo.invalid">
                    <small *ngIf="seatNo.errors.pattern"> Seat No.is invalid </small>
                  </small>
                </div>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Receipt No." required  ngModel #receiptNo="ngModel" [(ngModel)]="data.receiptNo">
                  </mat-form-field> 
                  <div class="col-md-12 error">
                  <small *ngIf="receiptNo.touched && receiptNo.invalid" class="text-danger">
                    <small *ngIf="receiptNo.errors.required"> Receipt no is required </small>
                     </small>
                    </div>
                    </div>
                    
                    <div class="col-md-6">
                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Amount" [value]="data.amount" disabled>
                  </mat-form-field> 
                </div>

                  <button mat-flat-button color="primary" class="col-md-3" style="margin-left:200px"
                  (click)="submit()"
                  [disabled]="regNo.invalid || firstName.invalid || lastName.invalid || course.invalid || branch.invalid || year.invalid || mobileNumber.invalid || city.invalid || stage.invalid || busNo.invalid || seatNo.invalid || receiptNo.invalid || !data.route || !data.amount">
                  Add Student</button>
  </div>

  </div>

