<div id="sidebardiv">
<mat-card style="background-image: linear-gradient(to bottom,#efefef,#eaeaea)">
  <ng-container *ngFor="let nav of navItems">
    <button routerLinkActive="active" type="button" class="btn btn-outline-primary col-md-12" style="color:black;font-size: 12px;" [routerLink]="nav.link"><i [class]="nav.icon"></i> {{nav.name}} </button>
    <br><br>
  </ng-container>
  <button class="btn btn-danger col-md-12" (click)="logout()" style="color:rgb(255, 255, 255);font-size: 12px;">Logout</button>
</mat-card>
</div>


