<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner slider" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active image"  style="background-image: url('../assets/images/sliderimages/01.png')">
      <div class=" container float-left col-md-6 col-12 line run-animation" id="fade">
       <!-- <h1 class="text-left text-white" >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      </h1>-->
      </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item image" style="background-image: url('../assets/images/sliderimages/01.png')">
        <div class=" container float-left col-md-6 col-12 run-animation" id="fade">
          <h1 class="text-left text-white" >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </h1>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../assets/images/sliderimages/02.png')">
        <div class=" container float-left col-md-6 col-12 run-animation" id="fade">
          <h1 class="text-left text-white">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </h1>
        </div>
      </div>
    </div>  
  </div>
</header>

